<header>
    <nav class="w-full flex px-4 py-1">
        <div class="container flex flex-col items-center justify-center gap-1">
            <div>
                
                    <div class="flex items-center gap-2 text-white font-semibold text-lg">
                        <!-- SVG icon here -->
                        Practise<span class="text-indigo-300">-store</span>
                    </div>
                
            </div>

            <div class="nav-links flex h-8 gap-1 text-white">
                <a routerLink="/">Product List |</a>
                <a routerLink="/cart">
                    Cart
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-4 text-white inline fill-current">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.25 3h1.5l1.68 10.09a1.5 1.5 0 001.48 1.26h9.96a1.5 1.5 0 001.48-1.26L20.25 6H6" />
                        <circle cx="9" cy="20" r="1.5" />
                        <circle cx="17" cy="20" r="1.5" />
                    </svg>
                </a>
            </div>
        </div>
    </nav>

</header>